In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = ['W','X','Y','Z']
index = ['A','B','C','D','E']

In [3]:
from numpy.random import randint
np.random.seed(42)
data = randint(-100,100,(5,4))

In [4]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [6]:
df = pd.DataFrame(data,index,columns)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

Adding new column with existing datas :

In [7]:
df['New'] = df['W'] + df['Y']
df

    W   X   Y   Z  New
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

Deleting Column

In [8]:
#axis = 0 means row & axis = 1 means column
df.drop('New',axis=1)
#it'll temporarily drop the column nnot permenantly

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [9]:
df

    W   X   Y   Z  New
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

Permenantly deleting column :

In [10]:
df=df.drop('New',axis=1)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

Above all methods only work for columns 
for Row operations we must use "loc" to tell to look for row with specific name

In [15]:
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int32

In [16]:
df.loc[['A','E']]

    W   X   Y   Z
A   2  79  -8 -86
E  30  49 -48 -99

Using index to access rows :

In [18]:
df.iloc[0:3]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80
C  2  21 -26 -13

In [19]:
df.drop('C')
#Axis = 0 (default)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
D  16  -1   3  51
E  30  49 -48 -99

In [22]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [20]:
df.loc['A','W']

2

In [21]:
df.loc[['A','C'],'W']

A    2
C    2
Name: W, dtype: int32