In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,np.nan,4],
                   'B':[5,np.nan,np.nan,8],
                   'C':[10,20,30,40]})

In [3]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [5]:
# It leaves the missing data (empty) with threshhold alue 2 
df.dropna(axis=1,thresh=2)

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [6]:
#filling the mmiissing data
df.fillna(value='FILL VALUE')

            A           B   C
0         1.0         5.0  10
1         2.0  FILL VALUE  20
2  FILL VALUE  FILL VALUE  30
3         4.0         8.0  40

In [7]:
df.fillna(value=0)

     A    B   C
0  1.0  5.0  10
1  2.0  0.0  20
2  0.0  0.0  30
3  4.0  8.0  40

In [10]:
#Filling the data by it's mean
df['B'].fillna(value=df['B'].mean())
#df.fillna(df.mean())

0    5.0
1    6.5
2    6.5
3    8.0
Name: B, dtype: float64